<h1>Create new template</h1>
<%= form_for [:admin, @template], html: { multipart: true } do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :image %>
  <%= f.file_field :image %>
<%= f.submit "Upload", class: "button radius" %>
<% end %>
