<% title "Sign In" %>
<div class="radius small-12 small-centered  large-8  large-centered medium-8 medium-centered columns demots-column" id="signin-page">
  <div class="row">
    <div class="small-12 columns">
      <h1>Sign In</h1>

      <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "radius" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "radius" %>

      <%= f.submit "Sign In", :class => "button small radius" %>

    <% end %>
    </div>
    <div class="small-12 columns" id="create-text">
      <p>Or register</p>
    </div>
    <div class="small-12 columns">
      <%= link_to "Register", signup_path, :class=> "button small radius second-shade" %>
    </div>
  </div>
</div>
