<% title "Create your own meme :)" %>
<div class="radius small-12 small-centered  large-8  large-centered medium-8 medium-centered columns demots-column" id="create-meme">
  <div class="row">
    <div class="small-12 columns">
      <%= form_for @demot, html: { multipart: true } do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.label :title %>
        <%= f.text_field :title, {:placeholder => "e.g. Ruby is awesome!!!", class: "radius"} %>
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.submit "Upload", class: "button radius small", id: "upload" %>
    <% end %>
    </div>

    <div class="small-12 columns" id="create-text">
      <p>Or create one from the library</p>
    </div>
    <div class="small-12 columns">
      <%= link_to "Go to the library", memes_path, :class=> "button small radius second-shade" %>
    </div>
    <div class="small-12 columns" id="create-text">
      <p>Or just pick one form your phone and send MMS to XXX-XXX-XXXX</p>
    </div>
  </div>
</div>
