<h1>Tempaltes#new</h1>
<p>Find me in app/views/templates/new.html.erb</p>
<%= form_for @template, html: { multipart: true } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit "Upload", class: "button radius" %>
<% end %>
