<%# <%= image_tag(@template.image,:id => 'canvas_image',:crossOrigin => "anonymous", :style => "display: none" ) %>
<p id="canvas_image" style="display: none"><%= @template.image.url %> </p>
<h3>Create your meme</h3>
<div class="small-7 columns">
  <canvas id="canvas" width="600" height="600">

  </canvas>
  <%= form_for @meme, html: { multipart: true } do |f| %>
    <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :image %>
  <%= f.submit "Upload", class: "button radius" %>
<% end %>
</div>
<div class="small-4 columns">
  <textarea type="text" name="upperText" id="upperText" placeholder="Upper Text" cols="20" rows="5" /></textarea>
  <textarea type="text" name="upperText" id="bottomText" placeholder="Bottom Text" cols="20" rows="5" /></textarea>
</div>
