<h1>Users</h1>
<%= will_paginate @users, renderer: FoundationPagination::Rails %>
<ul class="users-list">
  <% @users.each do |user| %>
    <li class="user-name" id="<%= user.id %>-user"> <%= link_to user.name, user %>
  <ul class="button-group even-2">  
<%= link_to "Edit", edit_admin_user_path(user), remote: true, data: {'reveal-id' => "user-modal-#{user.id}", 'reveal-ajax' => true}, class: "button tiny radius"  %>
<%= link_to "Delete", admin_user_path(user), method: :delete,remote: true, data: { confirm: "You sure?" }, class: "button tiny alert radius" %>
</ul>
  </li>
  <div id="<%= user.id %>-user-hidden" style="display: none;"></div>
<% end %>
</ul>
<%= will_paginate @users, renderer: FoundationPagination::Rails %>
