<h1>Manage demotivators and memes</h1>
<div class="row">
  <div class="small-3  columns">
    <%= form_tag admin_demots_path, method: :get do %>
      <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by title", :name => nil, class: "button tiny radius" %>
    </p>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered  large-12  large-centered columns ">
    <%= will_paginate @demots, renderer: FoundationPagination::Rails %>

    <table class="admin-list">
      <thead>
        <tr>
          <th width="100"><%= sortable("id") %></th>
          <th widh="100">Image</th>
          <th widh="150"><%= sortable("title") %> </th>
          <th widh="150"><%= sortable("user_id", "Author") %> </th>
          <th widh="150"><%= sortable("total_votes", "Votes") %> </th>
          <th widh="50"><%= sortable("approved") %> </th>
          <th widht="200"><%= sortable("created_at", "Created at") %> </th>
          <th widh="150">Action </th>
          <tbody>
          <% @demots.each do |demot| %>
            <tr id="<%= demot.id %>-demot">
            <td><%= demot.id %></td>
            <td><%= link_to image_tag(demot.image.small_thumb), demot_path(demot), class: "small-thumb" %></td>
            <td><%= demot.title %></td>
           <td> <%= demot.user.name %></td>
            <td><%= demot.total_votes %></td>
            <td><%= demot.approved %></td>
            <td><%= demot.created_at %></td>
            <td> 
              <%= link_to "Delete", admin_demot_path(demot), method: :delete, remote: true,  data: {confirm: "Are you sure???" }, class: "button tiny alert radius" %>
              <% if demot.approved %>
                <%= link_to "Disapprove", approve_admin_demot_path(demot), method: :put, remote: true, class: "button tiny radius info" , id: "#{demot.id}-button" %>
              <% else %> 
                <%= link_to "Approve", approve_admin_demot_path(demot), method: :put, remote: true, class: "button tiny radius success", id: "#{demot.id}-button"%>
              <% end %>  
            </td>
          </tr>
        <% end %>
          </tbody>
        </tr>
      </thead>

    </table>
    <%= will_paginate @demots, renderer: FoundationPagination::Rails %>
  </div>
</div>
