<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
      <h1> <%= link_to "Not funny", root_path %> </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">Waiting</a></li>
        <li><a href="#">Top</a></li>
        <li><%= link_to "Add meme", new_demot_path %></li>
        <% if signed_in? %>
          <% if current_user.admin? %>
          <li><%= link_to "Admin panel", admin_path %></li>
      <% end %>
        <li> <%= link_to "Profile", current_user %></li>
        <li> <%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>

          <li><%= link_to "Sign in", signin_path %><li>
      <% end %>
      </ul>

    </section>
  </nav>
</div>
