<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
      <h1> <%= link_to "NOT FUNNY", root_path %> </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="<%= 'active' if current_page?(top_path) %>"><%= link_to "TOP", top_path %></li>
        <%# <% binding.pry %>
        <li class="<%= 'active' if current_page?(new_demot_path)%>"><%= link_to "ADD MEME", new_demot_path %></li>
        <% if signed_in? %>
          <% if current_user.admin? %>
          <li class="<%= 'active' if current_page?(admin_path)%>"><%= link_to "ADMIN PANEL", admin_path %></li>
      <% end %>
        <li class="<%= 'active' if current_page?(current_user)%>"> <%= link_to "PROFILE", current_user %></li>
        <li class="<%= 'active' if current_page?(edit_user_path(current_user))%>"> <%= link_to "SETTINGS", edit_user_path(current_user) %></li>
        <li><%= link_to "SIGN OUT", signout_path, method: "delete" %></li>
      <% else %>

          <li class="<%= 'active' if current_page?(signin_path) %>"><%= link_to "SIGN IN", signin_path %><li>
      <% end %>
      </ul>

    </section>
  </nav>
</div>
