<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
</head>

<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <h1> <%= link_to "Not funny", root_path %> </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#">Waiting</a></li>
      <li><a href="#">Top</a></li>
      <li><a href="#">Random</a></li>
      <li><a href="#">Memes</a></li>
      <li><a href="#">Add meme</a></li>
      <% if signed_in? %>
        <li> <%= link_to "Profile", current_user %></li>
        <li><%= link_to "Signout", signout_path, method: "delete" %></li>
      <% else %>  
      <li><%= link_to "Sign in", signin_path %><li>
      <% end %>
    </ul>

  </section>
</nav>
<div class="container">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>"><%= value %></div>
<% end %>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
