<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= yield(:header) if @content_for_header %>
<%= csrf_meta_tags %>
</head>

<body>
<%= render "layouts/header" %>
<div class="main-container">

  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>"><%= value %></div>
<% end %>

  <div class="main row">
    <div class="col-main small-12 columns">
      <%= yield %>
    </div>
  </div>
  <div class="debug clearfix">
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
