<% provide(:title => "DFFFFFFFFFFFFFFFFFFFFFFFF") %>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? "NOT FUNNY - " + content_for(:title) : "NOT FUNNY" %></title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag '/favicon.ico' %>
</head>

<body>
<%= render "layouts/header" %>
<div class="main-container">
  <%= render "shared/alert_messages" %>

  <div class="main row">
    <div class="col-main small-12 columns">
      <%= yield %>
    </div>
  </div>
  <%= render "shared/debug" %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
